force-app/main/default/flows/ReceiptJournalDuplicateValidationRecordDuplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>CreateUniqueRecordString</name>
        <label>レコードユニーク文字列の作成</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>UniqueRecordString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiptDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniqueRecordString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Ruby__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUniqueRecordString</targetReference>
        </connector>
    </assignments>
    <interviewLabel>収受簿重複チェック {!$Flow.CurrentDateTime}</interviewLabel>
    <label>収受簿重複バリデーション</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateUniqueRecordString</name>
        <label>レコードユニーク文字列の更新</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>RecordDuplicateString__c</field>
            <value>
                <elementReference>UniqueRecordString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateUniqueRecordString</targetReference>
        </connector>
        <object>ReceiptJournal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UniqueRecordString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
